<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <% include ./include/head.ejs %>
</head>
<body>
    <% include ./include/header.ejs %>
    
    <div class="">
        
    </div>

    <% include ./include/footer.ejs %>
    
    <script src="/js/datepick/index.js">
    </script>
</body>
</html>