    <div class="layer-box drop">
        <div class='layer-head'>
            <div class="layer-title">{{title}}</div>
        </div>
        <div class='layer-body'>
            {{content}}

        </div>
        <div class='layer-foot'>
            <button class="j-btn-yes btn-yes">是</button>
            <button class="j-btn-no btn-no">否</button>
        </div>
        <button class="j-btn-close btn-close">X</button>
    </div>