<table>
    <thead>
        <tr>
        {{#each day}}
            {{th}} {{this}} {{/th}}
        {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each days}}
            <tr>
                {{#each this}}
                    {{td}} {{this}} {{/td}}
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table> 