<div class="ui-datepick">
    <div class="ui-datepick-header">
        <span class='ui-datepick-btn ui-datepick-btn-left j-btn-prev'>&lt;</span>
        <span class='ui-datepick-btn ui-datepick-btn-right j-btn-next'>&gt;</span>
        <h4 class='ui-datepick-title j-datepick-title'></h4>
    </div>
    <div class="ui-datepick-body">
		<table>
		    <thead>
		        <tr>
		        	<th>日</th>
		        	<th>一</th>
		        	<th>二</th>
		        	<th>三</th>
		        	<th>四</th>
		        	<th>五</th>
		        	<th>六</th>
		        </tr>
		    </thead>
		    <tbody class="j-datepick-tbody">
		        
		    </tbody>
		</table> 
    </div>
</div>
