<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <% include ./include/head.ejs %>
</head>

<body>
    <% include ./include/header.ejs %>

    <input id="input" type='text' placeholder="select your date" />

    <div class="ui-datepick-wrap">
        
    </div>

    <% include ./include/footer.ejs %>

    <script>
    require(['datepick/index'], function (Datepick) {

        var datepick = new Datepick({
            container: '.ui-datepick-wrap'
        });
    });
    </script>
    
</body>

</html>