<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <% include ./include/head.ejs %>
</head>

<body>
    <% include ./include/header.ejs %>

    <div class="ui-datepick-wrap">
        <div class="ui-datepick">
            <div class="ui-datepick-header">
                <span class='ui-datepick-btn ui-datepick-btn-left'>&lt;</span>
                <span class='ui-datepick-btn ui-datepick-btn-right'>&gt;</span>
                <h4 class='ui-datepick-title'></h4>
            </div>
            <div class="ui-datepick-body">

            </div>
        </div>
    </div>

    <% include ./include/footer.ejs %>

    <script src="/dist/datepick/index.js"></script>
    <script>
        
    </script>
</body>

</html>