<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <% include ./include/head.ejs %>
        <style>
        body {
            margin: 0;
            overflow-x: hidden;
        }
        
        .drag-box {
            background-color: red;
            width: 100px;
            height: 100px;
            position: absolute;
        }
        
        #div1 {
            left: 10px;
            top: 10px;
            margin: 20px;
            padding: 20px;
            border: 10px solid green;
        }
        
        #div2 {
            left: 400px;
            top: 10px;
        }

        #div3 {
            position: relative;
        }
        
        .drag-bar {
            width: 300px;
            height: 30px;
            background-color: #ddd;
            position: relative;
            margin: 200px auto;
        }
        
        .drag-barover {
            width: 100px;
            height: 30px;
            background-color: #aaa;
        }
        
        .btn {
            position: absolute;
            z-index: 2;
            height: 50px;
            width: 20px;
            top: 50%;
            margin-top: -25px;
            background-color: red;
            left: 100px;
        }
        
        .left,
        .right {
            position: absolute;
            height: 30px;
            width: 30px;
            top: 0;
            text-align: center;
            line-height: 30px;
        }
        
        .left {
            left: -40px;
        }
        
        .right {
            right: -40px;
        }
        #show {
            position: absolute;
            left: -300px;
            top: 0px;
        }
        </style>
</head>

<body>
    <div id="div1" class="draggable drag-box">div</div>
    <div id="div2" class="draggable drag-box">div</div>
    <div id="div3" class="">div</div>
    <div class="dragbar-wraper">
        <div class="drag-bar" id="drag-bar">
            <div class="drag-barover" id="drag-barover"></div>
            <span class="btn" id="drag-btn"></span>
            <span class="left">0</span>
            <span class="right">100</span>
            <div id="show">0</div>
        </div>
    </div>
    <script type="text/javascript">
    require(['drag/dragbar', 'drag/drag'], function(Dragbar, Drag) {
        var dragbar = new Dragbar({
            bar: 'drag-bar',
            barOver: 'drag-barover',
            btn: 'drag-btn',
            show: 'show',
            min: 50,
            max: 100
        });
        dragbar.setPos(10);

        // 
        // Drag.drag.enable();

        new Drag('div2');
    });
    </script>
</body>

</html>
