<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <% include ./include/head.ejs %>
</head>
<body>

    <div style="margin: 50px auto; width: 500px;">
        <ul>
            <li><a href="/carousel">carousel</a></li>
            <li><a href="/switch">switch</a></li>
            <li><a href="/drag">drag</a></li>
            <li><a href="/slide">slide</a></li>
            <li><a href="/layer">layer</a></li>
            <li><a href="/pagination">pagination</a></li>
            <li><a href="/datepick">datepick</a></li>
            <li><a href="/dialog">dialog</a></li>
        </ul>
    </div>

    <script type="text/javascript">

    </script>
</body>
</html>